/* ToolsList Code here */

.ToolsList > div {

	/* background-color: #00000020; */
	margin: 20px;
	/* padding: 20px; */
	position: static;
	text-align: center;
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));

}

.ToolsList div div {

	width: 100%;
	border: 1px solid var(--color-lines);
	transition: transform 200ms ease-in-out, background 200ms ease-in-out;
	background: #1D1D2100;

}

.ToolsList img {

	max-width: 100%;
	filter: grayscale();

}

.ToolsList div div:hover {

	transform: scale(1.1);
	z-index: 2000;
	background: #1D1D21ff;
}

.ToolsList div div:hover img {

	filter: none;

}

.ToolsList h4 {

	margin: 1rem;
	font-size: .9rem;
	line-height: 1.4rem;

}
