/* ToolsList Code here */

.ToolsList > div {

	padding: 20px;
	margin: 20px;
	position: static;
	display: flex;
	overflow: scroll;
	padding-top: 20px;
	padding-bottom: 20px;

}

.ToolsList > div {

	text-align: center;
	border: 1px solid var(--color-lines);
	display: flex;
	overflow: scroll;
	width: 100%;
	margin-right: 2px;
	flex: 0 0 auto;
	background-color: #00000020;

}

.ToolsList div img {

	width: 100%;
	filter: grayscale();

}

.ToolsList h4 {

	margin: 1rem;
	font-size: .9rem;
	line-height: 1.4rem;

}
