.projectPage {

	display: block;

}

.projectPage > header {

	padding: 4rem

}

.projectPage > header span {

	color: white;
	display: block;

}

/* .projectPage > main {

	margin: 0 auto;
	max-width: 880px;
	padding: var(--var-base-padding)

} */
